.grey {
  color: $secondary-text-colour;
}

.blue {
  color: $govuk-blue;
}

.b--blue {
  border-color: $govuk-blue;
}

// Confirmation page

.ref-space {
  padding-right: .35em;
  letter-spacing: .05em;
}

.reference-phrase {
  margin-bottom: 1em;
  padding: 2em 1em;
  background-color: transparentize($green, .8);
  border-left: .5em solid $green;

  p {
    margin: 0;
    color: $green;
  }
}

// Card payment pages

.accepted-image {
  position: relative;
  max-width: 340px;
  margin: -20px 0 5px 0;
}

.card-image {
  max-height: 38px;
  padding-top: 2px;
  margin-left: 15px;
  vertical-align: middle;
}

.payment-summary {
  position: fixed;
  width: 250px;
  margin-top: 30px;
  border: 10px solid #DEE0E2;
  background-color: #F8F8F8;
  padding: 15px;
}

.payment-summary h2 {
  margin-top: 5px;

}

.multiple-choice.catalogue {
width:100%;
}

.button.catalogue {
  display:block;
  margin-top: 200px;
}

.attachment-thumb img {
    display: inline-block;
    width: 99px;
    height: 140px;
    background: #fff;
    outline: 5px solid rgba(11,12,12,0.1);
    -webkit-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    -moz-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
}

.currency-input {
  &__inner {
    position: relative;

    &__unit {
      position: absolute;
      bottom: $gutter / 6;
      left: $gutter / 3;
      font-weight: bold;
    }
  }

  .form-control {
    padding: 6px 0 3px 25px;
  }
}

