{% extends "layout.html" %}

{% block page_title %}
  Enter the amount you want to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Payment amount
      </h1>

    <form action="https://products.payments.service.gov.uk/pay/fffea4ffad87447ea502d24472a08758">
      <div class="currency-input form-group">
        <label class="heading-large" for="payment-amount">
          <span class="visually-hidden"> Payment amount in &pound;</span>
        </label>
        <div class="panel panel-border-wide mt3">
          <h2 class="set-fee">
            £11.50
          </p>
        </div>
      </div>

      <button type="submit" class="button">
        Proceed to payment
      </button>
    </form>


    </div>
  </div>
</main>

{% endblock %}
