{% extends "layout.html" %}

{% block page_title %}
  Pay for {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay the Congestion Charge
      </h1>

      <p>The Congestion Charge is an £11.50 daily charge for driving a vehicle within the charging zone between 07:00 and 18:00, Monday to Friday.</p>
         
      <p>Enter the vehicle registration accurately. Incorrect information may mean you are issued with a Penalty Charge Notice.</p>   

      <form action="enter-amount">
        <fieldset data-required data-error="Enter a vehicle registration">
          <div class="form-group">

          <label class="form-label form-label-bold" for="ref-number">Vehicle registration 
             <span class="form-hint">
             Be careful not to mix up the letters 'I' and 'O' with the numbers '1' and '0'
             </span>
           </label>

           <input class="form-control" id="ref-number" type="text" name="user-ref-number">


          </div>
        <fieldset>

        <button type="submit" class="button mt3">
          Continue
        </button>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}
