{% extends "layout.html" %}

{% block page_title %}
  Pay for {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay for {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>[This is an optional paragraph filled in by the service when setting up a payment link]</p> 

      

      

      <form action="enter-amount">

        <div class="form-group">
          <label class="form-label form-label-bold" for="ref-number">Reference number 
            <span class="form-hint">
            
            </span>
          </label>
          <input class="form-control" id="ref-number" type="text" name="user-ref-number">
        </div>
        
        <button type="submit" class="button mt3">
          Continue
        </button>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}
