{% extends "layout.html" %}

{% block page_title %}
  Pay for {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay for {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Once you have successfully paid, you will receive a payment reference number as proof of payment. Your application will be processed within 10 days.</p> 

    <!-- div>
      <img class="payment-steps pb4" src="/public/images/payment-steps.png">
    </div> -->
      <form action="enter-amount">
        <button type="submit" class="button">
          Continue
        </button>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}
