{% extends "layout.html" %}

{% block page_title %}
  Pay to request records of deceased service personnel
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay to {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>You can pay online for your application. Once you have successfully paid, you will receive a reference number.</p> 
      <p class="panel panel-border-wide">You must include your reference number with your application as proof of payment.</p>

      <br>   

      <a class="button button-start" href="enter-amount" role="button">Start now</a>



    </div>
  </div>
</main>

{% endblock %}
