{% extends "layout.html" %}

{% block page_title %}
  Pay for {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay for {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>[This is an optional paragraph filled in by the service when setting up a payment link]</p> 


    <form action="card-payment">
      <div class="currency-input form-group">
        <label class="heading-medium" for="payment-amount">
          Payment amount
          <span class="visually-hidden">in &pound;</span>
        </label>
        <div class="panel panel-border-wide mt3">
          <h2 class="set-fee">
            £30
          </p>
        </div>
      </div>

      <button type="submit" class="button">
        Proceed to payment
      </button>
    </form>


    </div>
  </div>
</main>

{% endblock %}
