{% extends "layout.html" %}

{% block page_title %}
  Payment confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Include confirmation phrase with your application
      </h1>

      <div class="reference-phrase">
        <p class="heading-large">
          fail grid mill <span id="date"></span>
        </p>
      </div>

      <p>Your payment was successful. We have sent you a confirmation email.</p>

      <p>You must include payment confirmation when sending your application. </p>

      <a class="button mt4" href="https://www.gov.uk" role="button">Back to GOV.UK</a>

    </div>
  </div>
</main>

<script type="text/javascript">
  var today = new Date()
  var dd = today.getDate()
  var mm = today.getMonth() + 1 // January is 0!

  var yyyy = today.getFullYear()
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  } 
  today = dd + '-' + mm + '-' + yyyy
  document.getElementById('date').innerHTML = today
</script>

{% endblock %}
