{% extends "layout.html" %}

{% block page_title %}
  Write the payment reference number on your paper form
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Write the payment reference number on your paper form
      </h1>

      <div class="reference">
        <p class="heading-large">
          <span class="ref-space">HDJ</span><span class="ref-space">212</span><span class="ref-space">3F</span>
        </p>
      </div>
    
    <div class="form-group mt2">
      <form action="payment-confirmation" method="post">
        
      <fieldset data-required data-error="Write your payment reference number on your form">
        <div class="heading-small error-legend"></div>

        <div class="multiple-choice" for="last-step-check">
          <input id="last-step-check" name="last-step-check" type="checkbox" value="true">
          <label class="block-label" for="last-step-check">I have added my payment reference number to the form</label>
        </div>
      </fieldset>

      <button class="button mt5" type="submit" role="button">Continue</button>

      </form>

    </div>

    </div>
  </div>
</main>



{% endblock %}
