{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">
      <div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title
  
  pub-c-title--bottom-margin">
    <p class="heading-medium grey fw3 mb0">
      Guidance
    </p>
  <h1 class="heading-large ma0">
    Request records of deceased service personnel
  </h1>
</div>
  </div>
</div>



<div class="grid-row">
  <div class="column-two-thirds mt5">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl class="f3 lh-copy">
      <dt class="fl w-30">From:</dt>
      <dd class="fl w-70">
          <a href="/government/organisations/ministry-of-defence">Ministry of Defence</a>

      </dd>
  </dl>
  <dl class="f3 lh-copy">
      <dt class="fl w-30">Part of:</dt>
      <dd class="fl w-70">
          <a href="/government/collections/requests-for-personal-data-and-service-records">Requests for personal data and service records: a detailed guide</a>

      </dd>
  </dl>
  <dl class="f3 lh-copy">
      <dt class="fl w-30">Published:</dt>
      <dd class="fl w-70">9 November 2016</dd>
  </dl>
</div>

  </div>
</div>


  <p class="app-c-lead-paragraph mt4 f2 pr4">
    Information and forms for requesting records of deceased service&nbsp;personnel.
  </p>


<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-third">
        <nav role="navigation" class="app-c-contents-list">
          <h2>
            Contents
          </h2>
      
          <ol class="list">
              <li class="lh-copy f3 pl3"> — 
                <a class="app-c-contents-list__link" href="#how-to-apply">
                  How to apply
                </a>        
              </li>

              <li class="lh-copy f3 pl3"> — 
                <a class="app-c-contents-list__link" href="#administration-fee">
                  Administration fee
                </a>        
              </li>
          </ol>
      </nav>
    </div>

  <div class="column-two-thirds">
    
    <h2 class="f1 b mt0 mb3" id="how-to-apply">How to apply</h2>

    <p>If you wish to apply for a search you should download, complete and send to <abbr title="Ministry of Defence">MOD</abbr> the following forms:</p>

<div class="cf mb5">
  <div class="attachment-thumb fl mh2">
      <a aria-hidden="true" class="thumbnail" href="https://gov.uk/government/uploads/system/uploads/attachment_data/file/545054/request_service_details_NOK_pt1_v6.pdf"><img alt="" src="https://www.gov.uk/government/assets/pub-cover-doc-afe3b0a8a9511beeca890340170aee8b5649413f948e512c9b8ce432d8513d32.png"></a>
  </div>
  <div class="fl mh4">
    <h2 class="title"><a aria-describedby="attachment-1772014-accessibility-help" href="https://gov.uk/government/uploads/system/uploads/attachment_data/file/545054/request_service_details_NOK_pt1_v6.pdf">Next of kin form (v6)</a></h2>
    <p class="metadata">
        <span class="type">PDF document</span>, <span class="file-size">24.4KB</span>
    </p>
  </div>
</div>

    <h2 class="f1 b mt0 mb3" id="administration-fee">How to pay</h2>

    <p></p>

  </div>
</div>


<div class="govuk-document-footer direction-ltr mt5">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="fl w-third history-information" id="history">
      <p class="">
        <span class="f3 db">Published:</span>
        <span class="b f2 db">9 November 2016</span>
      </p>
  </div>
  <div class="fl w-two-thirds related-information">
      <p><span class="f3 db">From:</span> <span class="from">
          <span class="definition f2 b ">
            <a href="https://gov.uk/government/organisations/ministry-of-defence">Ministry of Defence</a>
          </span>
      </span></p>
      <p>
        <span class="f3 db">Part of:</span>
        <span class="part-of">
        <span class="definition f2 b ">
          <a href="https://gov.uk/government/collections/requests-for-personal-data-and-service-records">Requests for personal data and service records: a detailed guide</a>
        </span>
      </span></p>
  </div>
</div>

</main>

{% endblock %}


