{% extends "layout.html" %}

{% block page_title %}
  Pay to request an historic service record
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Request a historic service record
      </h1>

      <h2 class="heading-large">
       How to make a request
      </h2>

      <ul class="lh-copy list-bullet mb5">
        <li>Fill in offline form, then</li>
        <li>Pay here, then</li>
        <li>Add pay ref to paper form</li>
      </ul>

      <a class="button" href="/whatever-the-next-page-is">
        Start Now
      </a>

    </div>
  </div>
</main>

{% endblock %}


