{% extends "layout.html" %}

{% block page_title %}
  Pay to request an historic service record
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay to request records of deceased service personnel
      </h1>

      <p>You can pay for your request for records of deceased service personnel online. There is a £30 administration fee for each record you request.</p>

      <p>You must include proof of payment with your application.</p>

      <!-- <h2 class="heading-medium">
       Next steps
      </h2>

      <ul class="lh-copy list-bullet mb5">
        <li>Fill in the application form</li>
        <li>Make a payment here</li>
        <li>Add your payment receipt or reference number to your application, then</li>
        <li>Submit your application</li>
      </ul> -->

      <a class="button button-start" href="/pay-amount">
        Start Now
      </a>

    </div>
  </div>
</main>

{% endblock %}
