{% extends "layout.html" %}

{% block page_title %}
  Pay for {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Pay for {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <!-- <p>You can pay online for your application. Once you have successfully paid, you will receive a reference number.</p> 
 -->
    <div class="payment-steps mb6">
      <img class="payment-steps-img pb4" src="/public/images/payment-steps-2.png">

      <p class="payment-steps-caption">Pay online and get your payment reference number</p>
      <p class="payment-steps-caption" style="left:250px;">Write your payment reference number on your paper form</p>
      <p class="payment-steps-caption" style="left:504px">Post the paper form with your payment reference number</p>
    </div>

      <form action="enter-amount">
        <button type="submit" class="button mt3">
          Continue
        </button>
        </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}
