{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Make an adhoc payment
      </h1>

      <h2 class="heading-medium">
       Current version
      </h2>
      <p class="heading-small">
           <a href="https://make-adhoc-payment-.cloudapps.digital/v1/how-to-pay">v1. Open fee</a>
      </p>
      <p class="heading-small">
       <a href="https://make-adhoc-payment.cloudapps.digital/v2/how-to-pay">v2. Set fee</a>
      </p>
    </div>
  </div>    

<!-- Changelog --> 

  <div class="grid-row">
    <div class="column-full">
    <h1 class="heading-medium mb3">Changelog</h1>


    <!-- Round 2 -->
    <div class="mb3">
      <details>
            <summary><span class="summary">Round 2: Pop up testing – November 2017</span></summary>
    
            <div class="panel panel-border-narrow">
    
              <p class="heading-small">
                 <a href="https://make-adhoc-payment-v01.cloudapps.digital/v1/how-to-pay">v1</a>
              </p>
                <p> 
                Instruction and amount on one page <br>
                Word based reference
                </p>
                <p class="heading-small">
                 <a href="https://make-adhoc-payment-v01.cloudapps.digital/v2/how-to-pay">v2</a>
                </p>
                <p> 
                Instruction and amount on separate pages<br>
                Normal reference
                </p>
    
                <table width="100%">
                    <thead>
                          <tr>
                            <th width="40%">Changes</th>
                            <th>Why we did it</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                          <td>New "fake service" – Dart charge</td>
                          <td>Generic service for pop up testing.</td>
                        </tr>
                        <tr>
                          <td>Two versions</td>
                          <td>Trying the standard GOV.UK confirmation page pattern and a different pattern that focused on the reference phrase</td>
                        </tr>
                      </tbody>
                  </table>
            </div>
    
        </details>
    </div>

    <!-- Round 1 -->
    <div class="mb3">
      <details>

      <summary><span class="summary">Round 1: Design sprint – October 2017</span></summary>

      <div class="panel panel-border-narrow">

        <p class="heading-small">
           <a href="https://pay-to-request-records.herokuapp.com/historic-service-record">User facing payment flow</a>
        </p>
        <p class="heading-small">
           <a href="https://govuk-payment-links-prototype.herokuapp.com/set-up-payment">Set up a payment link</a>
        </p>

      </div>

    </details>
   </div> 

    <!-- Round 0 -->
    <div>
      <details>
    
          <summary><span class="summary">Round 0: Discovery prototypes</span></summary>
    
          <div class="panel panel-border-narrow">
    
            <p class="heading-small">
               <a href="https://pofos.herokuapp.com">POFOS</a>
            </p>
            <p>
              Example of the various Alpha recommendations following the POFOS Discovery.<br>Not for user testing.
            </p>
            
    
          </div>
    
        </details></div>

      
    </div>
  </div>
</main>
{% endblock %}
