{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">
      <div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title
  
  pub-c-title--bottom-margin">
    <p class="heading-medium grey fw3 mb0">
      Guidance
    </p>
  <h1 class="heading-large ma0">
    Request records of deceased service personnel
  </h1>
</div>
  </div>
</div>



<div class="grid-row">
  <div class="column-two-thirds mt5">
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl class="f3 lh-copy">
      <dt class="fl w-30">From:</dt>
      <dd class="fl w-70">
          <a href="/government/organisations/ministry-of-defence">Ministry of Defence</a>

      </dd>
  </dl>
  <dl class="f3 lh-copy">
      <dt class="fl w-30">Part of:</dt>
      <dd class="fl w-70">
          <a href="/government/collections/requests-for-personal-data-and-service-records">Requests for personal data and service records: a detailed guide</a>

      </dd>
  </dl>
  <dl class="f3 lh-copy">
      <dt class="fl w-30">Published:</dt>
      <dd class="fl w-70">9 November 2016</dd>
  </dl>
</div>

  </div>
</div>


  <p class="app-c-lead-paragraph mt4 f2 pr4">
    Information and forms for requesting records of deceased service&nbsp;personnel.
  </p>


<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-third">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="list">
        <li class="lh-copy f3 pl3"> — 
          <a class="app-c-contents-list__link" href="#what-is-held">
            What is held
</a>        </li>
        <li class="lh-copy f3 pl3"> — 
          <a class="app-c-contents-list__link" href="#administration-fee">
            Administration fee
</a>        </li>
        <li class="lh-copy f3 pl3"> — 
          <a class="app-c-contents-list__link" href="#before-you-apply">
            Before you apply
</a>        </li>
        <li class="lh-copy f3 pl3"> — 
          <a class="app-c-contents-list__link" href="#how-to-apply">
            How to apply
</a>        </li>
        <li class="lh-copy f3 pl3"> — 
          <a class="app-c-contents-list__link" href="#further-information-about-service-records-held-by-mod">
            Further information about service records held by MOD

</a>        </li>
    </ol>
  </nav>

    </div>
  <div class="column-two-thirds ">
    
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 class="f1 b mt0 mb3" id="what-is-held">What is held</h2>

<p>The <abbr title="Ministry of Defence">MOD</abbr> is the custodian of the records of service personnel and Home Guard records until they are opened to general public access at the National Archives.</p>

<p>Subject to the payment of an administration fee and provision of a death certificate (except where death was in service), certain information can be provided from the records of service of service personnel on request under the publication scheme.</p>

<p>Under the scheme, and in recognition of the duty of care owed to the family of the deceased subject, for a period of 25 years following the date of death of the subject and without the consent of the next of kin, <abbr title="Ministry of Defence">MOD</abbr> will disclose only:</p>

<ul class="list-bullet lh-copy">
  <li>surname</li>
  <li>forename</li>
  <li>rank</li>
  <li>service number</li>
  <li>regiment/corps</li>
  <li>place of birth</li>
  <li>age</li>
  <li>date of birth</li>
  <li>date of death where this occurred in service</li>
  <li>the date an individual joined the service</li>
  <li>the date of leaving</li>
  <li>good conduct medals (for example, Long Service and Good Conduct Medal (LS&amp;GCM)), any orders of chivalry and gallantry medals (decorations of valour) awarded, some of which may have been announced in the London Gazette</li>
</ul>

<p>After this period, and if it is held, in addition <abbr title="Ministry of Defence">MOD</abbr> will disclose without the requirement for next of kin consent:</p>

<ul>
  <li>the units in which he/she served</li>
  <li>the dates of this service and the locations of those units</li>
  <li>the ranks in which the service was carried out and details of campaign medals awarded</li>
</ul>

<p>Where the consent of the immediate next of kin has been given for its release to a third party, the 25 year threshold will not apply allowing the release of all the information available under the publication scheme at any time, subject to the payment of an administration fee and the provision of a death certificate (except where death was in service).</p>

<h2 class="f1 b mt0 mb3" id="administration-fee">Administration fee</h2>

<p>Subject to the payment of an administration fee of £30 per record and provision of a death certificate (except where death was in service), certain information can be provided from the records of service of service personnel on request under the publication scheme.</p>

<p>The administration fee of £30 will be waived for requests from those who were the spouse or civil partner of the subject at the time of death (or parent if there was no spouse or civil partner).</p>

<p>The information that is held on individuals varies depending on which service they served with, when they served and the length of their service. In a small number of cases little or no information may be held. Applicants should be aware that the £30 administration fee is non-refundable whatever the outcome of the search.</p>

<h2 class="f1 b mt0 mb3" id="before-you-apply">Before you apply</h2>

<p>Before requesting information you are advised to carry out searches from sources that provide access to the details of deceased service personnel at no cost, such as the <a rel="external" href="http://www.cwgc.org/">Commonwealth War Graves Commission (<abbr title="Commonwealth War Graves Commission">CWGC</abbr>)</a> or the <a rel="external" href="http://www.veterans-uk.info/afm/page2.htm">Armed Forces Memorial (AFM) Roll of Honour</a>.</p>

<p>The principal function of the <abbr title="Commonwealth War Graves Commission">CWGC</abbr> is to mark, record and maintain the graves, and places of commemoration of Commonwealth military service members who died in the two World Wars. The AFM is dedicated to members of the UK armed forces (Regular and Reserves) killed on duty, or as a result of terrorist action, since World War 2.</p>

<p>While <abbr title="Ministry of Defence">MOD</abbr> aims generally to provide information where the above conditions are met, it will not disclose any information under the publication scheme where this could prejudice the capability, effectiveness or security of its forces. In the very rare case where release of information from a record might be prejudicial, the applicant will be advised of the relevant Freedom of Information Act statutory exemption that applies to its non disclosure.</p>

<h2 class="f1 b mt0 mb3" id="how-to-apply">How to apply</h2>

<p>If you wish to apply for a search you should download, complete and send to <abbr title="Ministry of Defence">MOD</abbr> the following forms:</p>

<p>For those who are not the immediate next of kin, and who are applying without the consent of the immediate next of kin, download and complete the ‘Application part 1: general enquirer’s form’ and the ‘Application part 2 form’ for the appropriate service (Royal Navy, British Army or RAF).</p>

<h3 id="next-of-kin-form">Next of kin form:</h3>

<p><span id="attachment_2061889" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545054/request_service_details_NOK_pt1_v6.pdf">Next of kin form (v6) </a>
  (<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">52KB</span>, <span class="page-length">2 pages</span>)
</span>
 or<br>
<span id="attachment_2061890" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545055/request_service_details_NOK_part1_v6.doc">Next of kin form (v6) </a>
  (<span class="type">MS Word Document</span>, <span class="file-size">161KB</span>)
</span></p>

<h3 id="not--the-immediate-next-of-kin-forms">Not  the immediate next of kin forms:</h3>

<p>Application part 1 form:</p>

<p><span id="attachment_2061891" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545056/request_service_details_general_enquirers_pt1_v6.pdf">General enquirer's form (v6) </a>
  (<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">44.7KB</span>, <span class="page-length">2 pages</span>)
</span>
 or<br>
<span id="attachment_2061892" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545057/request_service_details_general_enquirers_pt1_v6.doc">General enquirer's form (v6) </a>
  (<span class="type">MS Word Document</span>, <span class="file-size">135KB</span>)
</span></p>

<p>Application part 2 forms:</p>

<p><span id="attachment_2061893" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545058/request_for_service_details_rnrm_application_part2_1_.pdf">Royal Navy/Royal Marines part 2 </a>
  (<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">19.6KB</span>, <span class="page-length">1 page</span>)
</span>
 or<br>
<span id="attachment_2061894" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545059/request_for_service_details_rnrm_application_part2.doc">Royal Navy/Royal Marines part 2 </a>
  (<span class="type">MS Word Document</span>, <span class="file-size">50.5KB</span>)
</span></p>

<p><span id="attachment_2061895" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545060/request_for_service_details_army_application_part2_1_.pdf">British Army part 2 </a>
  (<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">19.5KB</span>, <span class="page-length">1 page</span>)
</span>
 or<br>
<span id="attachment_2061896" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545061/request_for_service_details_army_application_part2.doc">British Army part 2 </a>
  (<span class="type">MS Word Document</span>, <span class="file-size">43KB</span>)
</span></p>

<p><span id="attachment_2061897" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545062/request_for_service_details_raf_application_part2_1_.pdf">Royal Air Force part 2 </a>
  (<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">19.2KB</span>, <span class="page-length">1 page</span>)
</span>
 or<br>
<span id="attachment_2061898" class="attachment-inline">
  <a href="/government/uploads/system/uploads/attachment_data/file/545063/request_for_service_details_raf_application_part2.doc">Royal Air Force part 2 </a>
  (<span class="type">MS Word Document</span>, <span class="file-size">47.5KB</span>)
</span></p>

<p>When complete send both Application Part 1 (Next of Kin or General Enquirer’s form) and the appropriate Application Part 2 (Service-specific search form) to the address provided on the Service-specific search form.</p>

<h2 class="f1 b mt0 mb3" id="further-information-about-service-records-held-by-mod">Further information about service records held by <abbr title="Ministry of Defence">MOD</abbr>
</h2>

<p>Information held by <abbr title="Ministry of Defence">MOD</abbr> on Royal Navy (RN), Royal Marines (RM), British Army, Royal Air Force (RAF) service records and Home Guard records.</p>

<h4 id="royal-navy-and-royal-marine-service-records">Royal Navy and Royal Marine service records</h4>

<p>The RN Disclosure Cell holds service records for Commissioned and non-commissioned officers (both RN and RM) from 1924 onwards. Information from these records can be requested under the <abbr title="Ministry of Defence">MOD</abbr> Publication Scheme.</p>

<p>Please see the Royal Navy <a rel="external" href="http://www.royalnavy.mod.uk/">website</a> for further details about other service records that are held by the National Archives.</p>

<h4 id="british-army-service-records">British Army service records</h4>

<p>The Army Personnel Centre Historical Disclosures Section holds army service records for officers whose service ended after April 1922 and soldiers whose service ended after January 1921. Information from these records can be requested under the <abbr title="Ministry of Defence">MOD</abbr> Publication Scheme.</p>

<h4 id="raf-service-records">RAF service records</h4>

<p>The RAF Disclosures section holds service records for non-commissioned and commissioned RAF personnel dating back to 1920. Information from these records can be requested under the <abbr title="Ministry of Defence">MOD</abbr> Publication Scheme.</p>

<p>Service records that reflect World War 1 service only are held by the National Archives.</p>

</div>
</div>

  </div>
  <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
    <a class="app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>


<div class="govuk-document-footer direction-ltr mt5">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="fl w-third history-information" id="history">
      <p class="">
        <span class="f3 db">Published:</span>
        <span class="b f2 db">9 November 2016</span>
      </p>
  </div>
  <div class="fl w-two-thirds related-information">
      <p><span class="f3 db">From:</span> <span class="from">
          <span class="definition f2 b ">
            <a href="/government/organisations/ministry-of-defence">Ministry of Defence</a>
          </span>
      </span></p>
      <p>
        <span class="f3 db">Part of:</span>
        <span class="part-of">
        <span class="definition f2 b ">
          <a href="/government/collections/requests-for-personal-data-and-service-records">Requests for personal data and service records: a detailed guide</a>
        </span>
      </span></p>
  </div>
</div>

</main>

{% endblock %}


