{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Make an adhoc payment

      </h1>
      <p class="heading-medium">
       <a href="v1/how-to-pay">v1</a>
      </p>
      <p> 
      Instruction and amount on one page <br>
      Word based reference
      </p>

      <p class="heading-medium">
       <a href="v2/how-to-pay">v2</a>
      </p>
      <p> 
      Instruction and amount on separate pages<br>
      Normal reference
      </p>
    </div>
  </div>
</main>
{% endblock %}
