{% extends "layout.html" %}

{% block page_title %}
  Choose what to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    
    <h1 class="heading-large">
      Enter the amount you owe
    </h1>

    <p></p>

    <form action="/card-payment">
      
      <label class="form-label" for="currency-input">
        <p>Amount you want to pay</p>
      </label>
      <div class="currency-input form-group">
        <label class="form-label" for="payment-amount">
          Payment amount
          <span class="visually-hidden">in &pound;</span>
        </label>
        <div class="currency-input__inner">
          <span class="currency-input__inner__unit">&pound;</span>
          <input class="form-control" aria-label="Enter amount in pounds" name="payment-amount" data-non-numeric type="text" id="payment-amount" value="{{protoPaymentAmount}}" autofocus data-validate="required currency">
        </div>
      </div>
      <button type="submit" class="button">
        Continue
        </button>
      </div>

    </form>


    </div>
  </div>
</main>

{% endblock %}


