{% extends "layout.html" %}

{% block page_title %}
  Choose what to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/somet">
        <label for="currency-input">
          <h1 class="heading-xlarge">
            Pay the following
          </h1>
        </label>
        <div class="font-large" style="margin-bottom: 30px;">
          £
          <input id="currency-input" type="number" readonly class="font-large" name="amount" value="2000">
        </div>
        <button type="submit" class="button">
          Continue
        </button>
      </form>


    </div>
  </div>
</main>

{% endblock %}


