{% extends "layout.html" %}

{% block page_title %}
  Choose what to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/card-payment">
        <label for="payment-amount">
          <h1 class="heading-large">
            Pay the following
          </h1>
        </label>
        <div class="panel panel-border-wide mb4">
          <h2 class="f1 mb4">£{{30 | toDecimals2}}</h2>
        </div>
        <input name="payment-amount" type="hidden" id="payment-amount" value="30">
        <button type="submit" class="button mt3">
          Continue
        </button>
      </form>


    </div>
  </div>
</main>

{% endblock %}


