{% extends "layout.html" %}

{% block page_title %}
  Choose what to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    
    <h1 class="heading-large">
      Enter the amount you owe
    </h1>

    <p></p>

    <form action="/card-payment">
      
      <label class="form-label" for="currency-input">
        <p>Amount you want to pay</p>
      </label>
        £
      <input class="form-control" id="currency-input" type="number" class="font-large" name="amount">


      <div class="mt4">
        <button type="submit" class="button">
        Continue
        </button>
      </div>

    </form>


    </div>
  </div>
</main>

{% endblock %}


