{% extends "layout.html" %}

{% block page_title %}
  Choose what to pay
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Include payment confirmation with your application 
      </h1>
      <p class="">
       Your payment was successful. We will email you a receipt in the next hour. Your reference:
      </p>

      <div class="panel panel-border-wide">
        <p class="heading-medium ma0 pa0">
          flower-jogging-19-10-17
        </p>
      </div>

      
      <p class="">You must include payment confirmation when making your application. You can include a printed receipt or write the reference number onto your application.</p>

      <button type="submit" class="button">
          Print receipt
      </button>
      <p class="mt4"><a href="historic-service-record">Download the form</a></span>

    </div>
  </div>
</main>

{% endblock %}


